<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Insert text:</h1>
    <form action="{{ url_for('login') }}" method="post">
        <label for="input_name">Name:</label>
        <input type="text" id="input_name" name="username" placeholder="name">
        <label for="input_password">Password:</label>
        <input type="text" id="input_password" name="password" placeholder="password">
<!--        <button type="button">Ok</button>-->
        <input type="submit">
    </form>
</body>
</html>

